/.vscode
/3
/Air-quality-dataset
/Air-quality-dataset.zip
/air-quality.py
/all_df.csv
/basic-element.py
/basic-widget.py
/For
/hello-world.py
/latihan.py
/Python
/slider.py
/stations_all.csv
/Submission.zip